In [18]:
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [19]:
school_count = school_data_complete.school_name.unique()
len(school_count)

15

In [47]:
student_count = school_data_complete["Student ID"].unique()
len(student_count)

39170

In [21]:
school_data_complete.budget.sum()

82932329558

In [26]:
avg_math_score = school_data_complete.math_score.sum() / len(school_data_complete.math_score)
avg_math_score

78.98537145774827

In [27]:
avg_reading_score = school_data_complete.reading_score.sum() / len(school_data_complete.reading_score)
avg_reading_score

81.87784018381414

In [49]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / len(student_count) * 100
passing_math_percentage

74.9808526933878

In [48]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / len(student_count) * 100
passing_reading_percentage

85.80546336482001

In [51]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  len(student_count) * 100
overall_passing_rate

65.17232575950983